<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.baskinrobbins.mobileapp" version="0.0.14">
  <name>Baskin Robbins 0.0.14</name>
  <description>Baskin Robbins</description>
  <author href="kraftmob.com/" email="nicas1116@gmail.com">Kraftmob Team</author>
  <content src="index.html"/>
  <platform name="ios" />
  <platform name="android" />

  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="ios-statusbarstyle" value="black-translucent"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="UIWebViewDecelerationSpeed" value="fast" />
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="StatusBarOverlaysWebView" value="false" />
  
  <gap:plugin name="org.apache.cordova.battery-status"/>
  <gap:plugin name="org.apache.cordova.camera"/>
  <gap:plugin name="org.apache.cordova.media-capture"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.contacts"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="org.apache.cordova.geolocation"/>
  <gap:plugin name="org.apache.cordova.globalization"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>

  <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="1638823863039406" />
        <param name="APP_NAME" value="Baskin Robbins" />
    </gap:plugin>
  
  <icon src="icon.png" />
  
  <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi"/>

	<icon src="res/icons/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
	<icon src="res/icons/ios/icon-60.png" platform="ios" width="60" height="60" />
	<icon src="res/icons/ios/icon-60@2x.png" platform="ios" width="120" height="120" />
	<icon src="res/icons/ios/icon-76.png" platform="ios" width="76" height="76" />
	<icon src="res/icons/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
	<icon src="res/icons/ios/icon-small.png" platform="ios" width="29" height="29" />
	<icon src="res/icons/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
	<icon src="res/icons/ios/icon-40.png" platform="ios" width="40" height="40" />
	<icon src="res/icons/ios/icon-40@2x.png" platform="ios" width="80" height="80" />


  <gap:splash src="res/screens/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="res/screens/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="res/screens/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="res/screens/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  
  <gap:splash src="res/screens/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-667h.png" gap:platform="ios" width="750" height="1334"/>
  <gap:splash src="res/screens/ios/screen-iphone-portrait-736h.png" gap:platform="ios" width="1242" height="2208"/>
  <gap:splash src="res/screens/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="res/screens/ios/screen-ipad-portrait-2x.png" gap:platform="ios" width="1536" height="2048"/>

  
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
	<uses-permission name="android.permission.INTERNET" />
	<uses-permission name="android.permission.VIBRATE" />
	<uses-permission name="android.permission.RECORD_AUDIO" />
	<uses-permission name="android.permission.WRITE_EXTERNAL_STORAGE" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
	<key>Plugins</key>
	<dict>
		<key>Capture</key>
		<string>CDVCapture</string>
	</dict>
  </platform>
</widget>